:root {
    --action-primary-active-20: rgba(0, 75, 214, 0.2);
    --action-primary-default: rgba(11, 95, 255, 1);
    --action-primary-hover-10: rgba(0, 84, 240, 0.1);
    --neutral-neutral-6: rgba(165, 171, 179, 1);
    --primitives-numbers-radius-m: 8px;
  }
  